table {
    border: 1px solid black;
    border-spacing: 0; /* what got rid of the weird gaps under the headers */
    /* margin: 0 auto; */
}

th, td {
    padding: 5px 10px 5px 10px; /* top right bottom left */
    margin: 0;
}

thead th {
    text-align: left;
    border-bottom: 1px solid black;
    /* background-color: #ddd; */
}

div.element {
    float: left;
    margin: 10px 10px; /* top&bottom left&right */
}

div.new-element {
    clear: left;
}

dl {
    clear: both;
    padding: 1em 10px;
}

dd, dt {
    float: left;
}

dt {
    font-weight: bold;
    clear: left;
    margin-left: 5px; /* move list headers over a bit */
}

dd {
    margin-left: 30px;
}

.wrapper {
    border: 3px dashed red;
    float: left;
    padding-bottom: 20px;
}

h3 {
    /* text-align: center; */
    margin-bottom: 0;
}

code {
    white-space: pre;
    margin: 0;
    font-family: "FreeMono";
}

code kksel {
    font-weight: bold;
}